# **MACHINE LEARNING**

Librerias a usar

In [27]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import sentiment
from nltk import word_tokenize
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from nltk.tokenize import sent_tokenize
import json
from sklearn.ensemble import RandomForestRegressor 

nltk.download('vader_lexicon')
nltk.download('punkt')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Leo\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Leo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

descargamos de google cloud storage:

In [28]:
data=pd.read_csv('BUSINESS_YELP_YORK.csv')
data.drop(columns=['Unnamed: 0'],inplace=True)
data.head()

,business_id,name,address,city,state,latitude,longitude,stars_x,review_count,attributes,categories,user_id,stars_y,text,date,id_review
0,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,38.612495,-90.221942,1.5,100,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",Fast Food,6z3PRqgD0ZRzo3JWA2XGiQ,1,If you can't come to work with pride and energ...,2018-01-09,17287
1,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,38.612495,-90.221942,1.5,100,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",Fast Food,2M3xrhIK3vg7wQO6jxT1rg,1,I almost committed suicide at this McDonald's ...,2018-06-20,29099
2,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,38.612495,-90.221942,1.5,100,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",Fast Food,I8oirOMmdmbjSMJIM6ZueA,2,The chicken was soggy and the fries were to sa...,2018-03-20,205089
3,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,38.612495,-90.221942,1.5,100,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",Fast Food,taASFZWaKIGu96cN-kDHYA,1,Had to download Yelp just to leave a review fo...,2018-08-13,374942
4,yM8LlTInbQH4FwWC97lz6w,McDonald's,1919 S Jefferson,St. Louis,PA,38.612495,-90.221942,1.5,100,"{'Alcohol': ""u'none'"", 'BikeParking': 'True', ...",Fast Food,LA4KcLcGo4uLTFb_FzQPng,1,The worst possible McDonald's. If you go after...,2018-12-22,377630

extraemos un nuevo dataframe 'review'los datos a usar :

In [29]:
review=data[['text','business_id','stars']]

ANALIZAMOS CON EL MODELO DE ANALISIS DE SENTIMIENTOS  NLTK ( «Natural Language Toolkit») 
sobre la columna 'text' de review

In [31]:
analizador = SentimentIntensityAnalyzer()

In [32]:
reseña=review['text']

In [34]:
sentences = []
for text in reseña:
        sentence_list = sent_tokenize(text)
        sentences.extend(sentence_list)

CONSIDERACIONES A TOMAR EN CUENTA AL MOMENTO DE DEVOLVER LOS VALORES :

Para cada frase se obtienen varias puntuaciones diferentes, que podremos ver en la salida un poco más abajo. Pero antes resumimos los diversos criterios para las puntuaciones.

neg (negativa): es un valor entre cero y uno, para decirnos lo negativa que sería esta frase.

neu (neutral): este segundo valor nos indica la neutralidad de una frase, también en una puntuación entre cero y uno.Locual no seria de mucho interes para el analisis

pos (positiva): Igualmente que los anteriores, pero indicando lo positiva que encuentra una frase.

compound: este es un valor entre -1 y 1 que viene a indicar de una única vez si la frase es positiva o negativa. Valores próximos a -1 indican que es muy negativa, próximos a cero indicarían que es neutra y próximos a 1 sería muy positiva

In [35]:
lista=[]
for indice,sentence in enumerate(sentences):
    scores = analizador.polarity_scores(sentence)
    #scores={'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
    for key, value in scores.items():
      if key == 'compound':
        if scores[key]> 0.6:
          lista.extend('5')
        elif 0.6 <= scores[key] < 0.2:
          lista.extend('4')
        elif -0.2 < scores[key] <= 0.2:
          lista.extend('3')
        elif -0.6 <= scores[key] < -0.2:
          lista.extend('2')
        elif scores[key] < -0.6:
          lista.extend('1')

In [36]:
review['nltk_stars']=pd.DataFrame(lista)

C:\Users\Leo\AppData\Local\Temp\ipykernel_5880\1869024815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['nltk_stars']=pd.DataFrame(lista)

In [38]:
review['nltk_stars']=(review['nltk_stars']).astype('float')

C:\Users\Leo\AppData\Local\Temp\ipykernel_5880\4046309897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review['nltk_stars']=(review['nltk_stars']).astype('float')

In [39]:
review.drop(columns=['text'],axis=1,inplace=True)

C:\Users\Leo\AppData\Local\Temp\ipykernel_5880\2878627539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review.drop(columns=['text'],axis=1,inplace=True)

por cada bussines_id se hace un promedio de sus respectivas puntuaciones en la columna 'stars':

In [40]:
review_stars=review.groupby('business_id').mean()

In [42]:
review_stars.reset_index(inplace=True)

In [43]:
review_stars

                business_id  stars_x  nltk_stars
0    -7Rx5jVeQmlVoAU_oXrzew      1.0    2.600000
1    -9yzQQ0d_rcOD2CzdTNO_Q      2.0    2.550000
2    -YljbQMbbTC9jwn8kOLitA      1.0    2.833333
3    -cXxMH_oL82mOK6MBAjOHA      2.0    2.600000
4    -iXlYo2AI1iHgpeZnv5sPw      1.5    1.900000
..                      ...      ...         ...
646  zdJCe6BLDB03FBC4U_9bYw      2.5    2.200000
647  zi5cMfvS1imWog3TFfuFnA      2.0    2.840000
648  zkUGrri25CXfZc4OS2BtPg      1.5    2.533333
649  zraJ8MD-n5ob6s7dSNzKFg      2.0    2.200000
650  zszv_H7xTUo6SjCebQbbGg      2.0    3.200000

[651 rows x 3 columns]

In [45]:
review_stars.to_csv('analisis_sent.csv')

ATRIBUTOS

Se descarga las 2 tablas dimensiones atributos_yelp y bussines_atributos_yelp :

In [46]:
id_atributos=pd.read_csv('Proyecto_Final_Atributos_Yelp.csv')
id_atributos

    Unnamed: 0                 Descripcion  IdAtributos
0            0                        WiFi            0
1            1             BusinessParking            1
2            2                       HasTV            2
3            3                     Alcohol            3
4            4         RestaurantsDelivery            4
5            5      RestaurantsPriceRange2            5
6            6           RestaurantsAttire            6
7            7              OutdoorSeating            7
8            8     RestaurantsReservations            8
9            9    RestaurantsGoodForGroups            9
10          10                  NoiseLevel           10
11          11          RestaurantsTakeOut           11
12          12                      Caters           12
13          13                    Ambience           13
14          14  BusinessAcceptsCreditCards           14
15          15                 GoodForKids           15
16          16                 BikeParking           16
17          17                         NaN           17
18          18                   HappyHour           18
19          19                  BestNights           19
20          20                       Music           20
21          21            AcceptsInsurance           21
22          22           ByAppointmentOnly           22
23          23      BusinessAcceptsBitcoin           23
24          24        WheelchairAccessible           24
25          25                   DriveThru           25
26          26              GoodForDancing           26
27          27     RestaurantsTableService           27
28          28                     Smoking           28
29          29                   CoatCheck           29
30          30                 GoodForMeal           30
31          31                 DogsAllowed           31
32          32                        BYOB           32
33          33                     Corkage           33
34          34                 Open24Hours           34
35          35                 BYOBCorkage           35
36          36           HairSpecializesIn           36
37          37                 AgesAllowed           37
38          38         DietaryRestrictions           38

In [47]:
bussines_id=pd.read_csv('Proyecto_Final_Business_Atributos_Yelp.csv',index_col=False)
bussines_id.drop(columns=['Unnamed: 0'],inplace=True)
bussines_id

                  business_id  IdAtributos
0      wghnIlMb_i5U46HMBGx9ig            0
1      nUqrF-h9S7myCcvNDecOvw            0
2      9C2rpb56aQvW0ViZHK9sPw            0
3      2oxrOO3c9_mQmqM9kwEm9Q            0
4      QZU7TcrztBb3tXaPbVCkXg            0
...                       ...          ...
69580  ccNH_y1-c58tX74o4V4mlw           37
69581  bNSBYd-wASjWZ3hZWb0sGQ           38
69582  lvi4u_XVzvL06EAj0hUmfw           38
69583  SvA2IQ9SyI1Dh7dtwNNs3A           38
69584  K2MrnWrEEg9FzHrm9lve8A           38

[69585 rows x 2 columns]

unimos estas tablas para dar con el dataframe 'star':

In [48]:
star=bussines_id.merge(review_stars, on='business_id', how='inner')
star.head()

              business_id  IdAtributos  stars_x  nltk_stars
0  aNXw3PkXVt8ANwLyCfcmpg            0      1.5    2.533333
1  aNXw3PkXVt8ANwLyCfcmpg            1      1.5    2.533333
2  aNXw3PkXVt8ANwLyCfcmpg            4      1.5    2.533333
3  aNXw3PkXVt8ANwLyCfcmpg            5      1.5    2.533333
4  aNXw3PkXVt8ANwLyCfcmpg           11      1.5    2.533333

se elimina las columnas que no se uitilizaran para el modelo :

In [49]:
resultado = star.merge(id_atributos, on='IdAtributos', how='inner')
resultado.drop(columns=['Unnamed: 0','IdAtributos'],inplace=True)
resultado

                business_id  stars_x  nltk_stars              Descripcion
0    aNXw3PkXVt8ANwLyCfcmpg      1.5    2.533333                     WiFi
1    CxoRg-ZcXdpqXWmUJliYog      2.5    3.100000                     WiFi
2    2gTnSpYBmg_5JubGpCtSQQ      2.0    2.833333                     WiFi
3    5ewePyN_mEE_79OmYyYBEA      1.5    2.709091                     WiFi
4    zdG9d52hqH0JIk65LQzcaA      2.0    2.650000                     WiFi
..                      ...      ...         ...                      ...
712  UALJipwvpD-M-PzI9uALZA      1.5    2.100000  RestaurantsTableService
713  kvRjzneD1FWh4Szb-trL4A      2.0    2.475000  RestaurantsTableService
714  I1LP0Vg55lwufnoNREE1KA      2.0    2.933333  RestaurantsTableService
715  F-Z2J3GDTNge3K6bsbnKSw      1.5    2.272727              DogsAllowed
716  GEdrmeb5ubO2Gq5MgMxDtQ      1.5    2.125000     WheelchairAccessible

[717 rows x 4 columns]

In [50]:
resultado.to_csv('id_bus_desc.csv',index=False)

In [51]:
x=resultado['Descripcion']

Reescalamos los datos :

In [52]:
re=pd.get_dummies(x)
re

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,DogsAllowed,DriveThru,GoodForKids,GoodForMeal,...,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WheelchairAccessible,WiFi
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
713,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
714,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
715,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
716,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [53]:
# Función para convertir booleanos a valores numéricos
def bool_to_numeric(value):
    return 1 if value else 0

In [54]:
# Aplicar la función a cada celda del DataFrame
df_numeric = re.applymap(bool_to_numeric)

In [55]:
df_numeric

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,DogsAllowed,DriveThru,GoodForKids,GoodForMeal,...,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WheelchairAccessible,WiFi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
713,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
715,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [56]:
# Concatenar las columnas dummy al DataFrame original
df = pd.concat([resultado, df_numeric], axis=1)

# Ordenar el DataFrame por "business_id"
df.sort_values(by='business_id', inplace=True)

# Guardar el DataFrame modificado en un archivo CSV
#df.to_csv("C://Users//Equipo//OneDrive//Escritorio//Csv_Proyecto_Terminado.csv", index=False

In [57]:
df.drop(columns=['nltk_stars',	'Descripcion','stars_x'],axis=1,inplace=True)

Se tiene la matriz para alimentar el modelo ya reescalado con numeros entre 0 y 1:

In [58]:
agrupado=df.groupby('business_id').sum()
agrupado.head()

,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,DogsAllowed,DriveThru,GoodForKids,GoodForMeal,...,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WheelchairAccessible,WiFi
business_id,,,,,,,,,,,,,,,,,,,,,
2KjXarF28RIn7_APW1b7qA,0,1,0,1,0,0,0,1,1,0,...,1,1,1,1,1,1,0,1,0,1
2gTnSpYBmg_5JubGpCtSQQ,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,0,1,0,1
2jbu_xi_FEghI37kPG5LzA,0,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,0,1,0,1
47TOmOqMxeyUSpYoLKqTsA,1,1,1,1,1,0,0,1,1,0,...,1,1,1,1,1,1,0,1,0,1
5ewePyN_mEE_79OmYyYBEA,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,0,1

In [59]:
#Matriz=agrupado.drop(columns=['business_id'],axis=1)

In [60]:
agrupado.reset_index(inplace=True)

union de la matriz binaria :

In [61]:
train = review_stars.merge(agrupado, on='business_id', how='inner')

In [62]:
stars=train.drop(columns=['business_id'],axis=1)
stars.head()

,stars_x,nltk_stars,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,DogsAllowed,DriveThru,...,OutdoorSeating,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WheelchairAccessible,WiFi
0,1.5,2.600000,0,1,0,1,0,0,0,1,...,1,1,1,1,1,1,0,1,0,1
1,2.0,2.833333,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,0,1,0,1
2,2.0,2.314286,0,1,1,1,1,0,0,1,...,1,1,1,1,1,1,0,1,0,1
3,2.0,2.771429,1,1,1,1,1,0,0,1,...,1,1,1,1,1,1,0,1,0,1
4,1.5,2.709091,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,0,1

se hace un promedio entre los puntajes que da el 'stars' y 'nltk_stars' que se alamcena en la columna 'promedio':

In [63]:
df=stars[['stars_x','nltk_stars']]

In [64]:
stars['promedio'] = df.mean(axis=1)

In [65]:
stars

,stars_x,nltk_stars,Alcohol,Ambience,BikeParking,BusinessAcceptsCreditCards,BusinessParking,Caters,DogsAllowed,DriveThru,...,RestaurantsAttire,RestaurantsDelivery,RestaurantsGoodForGroups,RestaurantsPriceRange2,RestaurantsReservations,RestaurantsTableService,RestaurantsTakeOut,WheelchairAccessible,WiFi,promedio
0,1.5,2.600000,0,1,0,1,0,0,0,1,...,1,1,1,1,1,0,1,0,1,2.050000
1,2.0,2.833333,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.416667
2,2.0,2.314286,0,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.157143
3,2.0,2.771429,1,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.385714
4,1.5,2.709091,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.104545
5,1.0,2.555556,0,1,0,1,0,1,0,1,...,1,1,1,1,1,0,1,0,0,1.777778
6,2.0,2.750000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.375000
7,1.5,2.900000,0,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.200000
8,2.0,2.640000,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,1,0,1,2.320000
9,2.0,2.800000,0,1,0,0,1,0,0,1,...,0,1,0,1,0,0,1,0,1,2.400000
10,2.0,2.300000,1,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,0,2.150000
11,1.5,2.645833,0,0,0,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.072917
12,2.0,2.400000,0,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.200000
13,2.0,2.850000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.425000
14,2.5,3.100000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.800000
15,1.5,2.272727,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1.886364
16,1.5,2.125000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1.812500
17,2.0,2.440000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.220000
18,2.0,2.933333,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.466667
19,2.5,2.600000,1,1,0,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.550000
20,2.0,2.760000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.380000
21,1.5,2.200000,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,1,0,1,1.850000
22,3.5,3.000000,0,1,0,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,3.250000
23,2.5,2.933333,1,1,1,1,1,0,0,1,...,1,1,1,1,1,1,1,0,1,2.716667
24,1.5,2.866667,1,0,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.183333
25,2.0,2.600000,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,1,0,1,2.300000
26,1.0,2.966667,0,1,0,1,0,0,0,0,...,1,1,1,1,1,0,1,0,1,1.983333
27,1.5,2.100000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,1.800000
28,2.0,2.700000,1,1,0,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.350000
29,1.5,2.350000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,1.925000
30,2.0,2.450000,1,1,1,1,0,0,0,1,...,1,1,1,1,1,0,1,0,1,2.225000
31,1.5,2.533333,0,0,0,0,1,0,0,1,...,0,1,0,1,0,0,1,0,1,2.016667
32,1.5,2.320000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,1.910000
33,1.5,2.600000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.050000
34,2.5,3.000000,0,0,0,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.750000
35,1.5,2.300000,1,1,0,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,1.900000
36,3.0,2.333333,1,1,1,1,1,1,0,0,...,1,1,1,1,1,0,1,0,1,2.666667
37,2.0,2.475000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.237500
38,2.5,2.300000,1,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.400000
39,2.0,2.700000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.350000
40,1.5,2.611765,1,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.055882
41,1.5,3.000000,0,1,1,1,1,1,0,1,...,1,1,1,1,1,0,1,0,1,2.250000
42,1.5,2.433333,0,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,0,1.966667
43,3.0,2.600000,0,1,0,1,1,0,0,1,...,0,1,0,1,0,0,1,0,1,2.800000
44,1.5,2.555556,0,1,1,1,1,0,0,1,...,1,1,1,1,1,0,1,0,1,2.027778
45,2.0,2.650000,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,0,1,2.325000

In [66]:
stars.to_csv("Csv_Proyecto_Terminado.csv",index=False)

RANDOM FOREST

Se separan las variables de pendientes 'y' de las independientes 'X':

In [67]:
X = stars.drop('promedio', axis=1)
y = stars['promedio']

Eleccion de parametros y entrenamiento:

In [68]:
model_forest=RandomForestRegressor(n_estimators=305,max_depth=60,min_samples_split=20,max_features=37)

Se separa la data en entrenamiento y tests con una proporcion de 70 entrenamiento y 30 a testeo:

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35, random_state=42)

In [70]:
model_forest.fit(X_train, y_train)

RandomForestRegressor(max_depth=60, max_features=37, min_samples_split=20,
                      n_estimators=305)

Pruebas:

In [71]:
y_pred = model_forest.predict(X_test)

Este hiperparametro devuelve un  número entre 0 y 1 que indica cuán bien se ajusta el modelo de bosque aleatorio a los datos de prueba proporcionados

In [72]:
model_forest.score(X_test, y_test)

0.26436393717315076

In [73]:
pruebaforest=y_test.reset_index()
pruebaforest['star_pred']=y_pred
pruebaforest

    index  promedio  star_pred
0      39  2.350000   2.251647
1      25  2.300000   2.242516
2      26  1.983333   2.240214
3      44  2.027778   2.198239
4      35  1.900000   2.198239
5      41  2.250000   2.243207
6       4  2.104545   2.207370
7      12  2.200000   2.242516
8       8  2.320000   2.244197
9       3  2.385714   2.251647
10      6  2.375000   2.251647
11     24  2.183333   2.207370
12     32  1.910000   2.198239
13     19  2.550000   2.326281
14     17  2.220000   2.242516
15     13  2.425000   2.251647
16     43  2.800000   2.329270

In [74]:
from sklearn.metrics import mean_squared_error

Hiperparametro de error cuadratico:

In [75]:
mse = mean_squared_error(y_test, y_pred)
print("Error cuadrático medio:", mse)

Error cuadrático medio: 0.03730509213559475